
<% if (Products.length > 0) { for(var i=0; i < Products.length; i++) { %>

<div class="col-md-3" style="position: relative; right: -80px">

                <div class="wsk-cp-product">
                  <div class="wsk-cp-img">
                    <img src="<%= Products[i].IMAGE_LABEL %>" alt="Product" class="img-responsive" />
                  </div>
                  <div class="wsk-cp-text">
                    <div class="category">
                      <span><%= Products[i].Category %></span>
                    </div>
                    <div class="title-product">
                      <h3><%= Products[i].Ad_Title %></h3>
                    </div>
                    <div class="description-prod">
                      <p><%= Products[i].Description %></p>
                    </div>
                    <div class="card-footer">
                      <div class="wcf-left"><span class="price">E£<%=Products[i].Product_Price%></span></div>
                      <div class="wcf-right"><a href="/Product_Detail/<%=Products[i]._id%>" class="buy-btn"><i class="zmdi zmdi-shopping-basket"></i></a></div>
                    </div>
                  </div>
                </div>


 </div>

<%  }}   %>