<div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Products</h3>
                            <h2 style="color: blue; font-weight: bold";><%=NumOfProducts%></h2>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Users</h3>
                            <h2 style="color: blue; font-weight: bold";>128</h2>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Admins</h3>
                            <h2 style="color: blue; font-weight: bold";>3</h2>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">Recent sales</h3>
                                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">

                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">Product Name</th>
                                            <th class="border-top-0">Username</th>
                                            <th class="border-top-0">Phone Number</th>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Price</th>
                                            <th class="border-top-0"></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                    <% if (Products.length > 0) { for(var i=0; i < Products.length; i++) { %>

                                    <tr>
                                            <td><%=i+1%></td>
                                            <td style="font-weight: bold" class="txt-oflo"><%=Products[i].Ad_Title%></td>
                                            <td class="txt-oflo"><%=Products[i].user%></td>
                                            <td>+20 <%=Products[i].Phone%></td>

                                            <td class="txt-oflo"><%=Products[i].createdAt%></td>
                                            <td><span  style="color:rgb(60, 230, 97); font-weight: bold">E£<%=Products[i].Product_Price%></span></td>
                                            <td>
                                                <a  class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white"
                                                    href="Delete/<%=Products[i]._id%>">
                                                    Delete

                                                </a>
                                            </td>
                                        </tr>

                                    <%  }}   %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent Comments -->
                <!-- ============================================================== -->

            </div>