<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Users</h3>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">First Name</th>
                            <th class="border-top-0">Last Name</th>
                            <th class="border-top-0">Username</th>
                            <th class="border-top-0">Role</th>
                            <th class="border-top-0">Status</th>
                            <th class="border-top-0"></th>
                            <th class="border-top-0"></th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Andrew</td>
                            <td>Victor</td>
                            <td>@Andrew</td>
                            <td>Admin</td>
                            <td>Available</td>

                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Rawan</td>
                            <td>Ayman</td>
                            <td>@Rawan</td>
                            <td>Admin</td>
                            <td>Available</td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Kareem</td>
                            <td>Ashraf</td>
                            <td>@iikareem</td>
                            <td>Admin</td>
                            <td>Available</td>

                        </tr>


                        <% if (Users.length > 0) { for(var i=0; i < Users.length; i++) { %>
                            <% if (Users[i].first_name !== "Kareem" && Users[i].first_name !== "Andrew" && Users[i].first_name !== "Rawan") {%>
                        <tr>
                            <td><%=i+4%></td>
                            <td><%=Users[i].first_name%></td>
                            <td><%=Users[i].last_name%></td>
                            <td>@<%=Users[i].username%></td>
                            <td>Member</td>
                            <%    if(Users[i].status===true){     %>

                             <td>Available</td>

                            <% } else { %>


                            <td>Blocked</td>

                            <%} %>

                            <td>

                                <%if (Users[i].status === true) { %>
                                    <a  class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white"
                                        href="/dashboard/Users/Block/<%=Users[i]._id%>">Block</a>
                                                                                        <%} else {%>

                                 <a  class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white"
                                        href="/dashboard/Users/Unblock/<%=Users[i]._id%>">Unblock</a>

                                <%}%>

                            </td>
                            <td>

                                <a  class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white"
                                    href="/dashboard/Users/Remove/<%=Users[i]._id%>">Remove</a>




                            </td>

                        </tr>

                        <% } }} %>


                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>